{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}


{% block content %}
    <h3>{{ article.title }}</h3>
    <p>{{ article.teg }}</p>
    <p>{{ article.startup }}</p>
    <h5><a href="{% url 'blog:author_details' pk=article.author_id %}">{{ article.author }}</a></h5>
    <table>
        <tr>
            <td>
                <form action="{% url 'blog:article_delete' pk=article.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
            <td>
                <form action="{% url 'blog:article_edit' pk=article.pk %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                </form>
            </td>
        </tr>
    </table>
    <div>{{ article.text|linebreaksbr }}</div>
{% endblock %}
