{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ user.username }}
{% endblock %}


{% block content %}
    <h3>{{ user.username }}</h3>
    <p><strong>Users last visit was:</strong>  {{ user.last_login }}</p>
    <p><strong>Users date of registration:</strong>  {{ user.date_joined }}</p>
    <ul type=' '>
        {% for it in user.article_author.get_queryset %}
            <li><strong>{{ it.title }}</strong> - {{ it.created_date }}</li>
        {% endfor %}
    </ul>
{% endblock %}
